name: Release dpr Binary

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build Linux amd64 binary
        run: |
          go build -o dpr .

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dpr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
